<header class="flex items-center justify-between py-3 w-[1120px] mx-auto">
  <nav class="flex text-amber-50 flex-row gap-x-10 opacity-80">
    <a href="#top">Home</a>
    <a href="#experiencie">Experiencie</a>
    <a href="#Proyects">Projects</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </nav>
</header>
